# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Project Outputs (Artifacts)
logs/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
